@media only screen and (max-width: 730px) {
	.hf-header-title{
		display: none !important;
	}

	.main-content{ 
		padding-top: 10vh;
		padding-left: 4vh;

	}

	.large-screen-header{
		font-size: 2em;
	}

	.large-screen-sub-header{
		display: none !important;
	}

	.small-screen-sub-header{
		font-size: 1.1em; 
		display: block !important;
	}

	.download-btn{
		display: none;
	}

	.click-img-container {
		display: none;
	}

	.click-img{
		display: none;
	}
}

@media only screen and (min-width: 730px) {
 
.main-content{
	padding-top: 15vh;
	padding-left: 20vh;
}

.large-screen-header{
	font-size: 2.8em;
}

.large-screen-sub-header{
	display: block;
	font-size: 2.5em;
}

.small-screen-sub-header{
	display: none;
}

}
